<%= javascript_pack_tag 'index' %>
<% 
  format_no_time = '%d/%m/%Y' 
  format_only_time = '%k:%M'
%>

<header><h1>Fit'o'fit</h1></header>

<main>
<div id="add-walk">
<form method="GET" action="/add-count-walk">
  <label for="origin">Origin:</label>
  <input type="text" id="origin" name="origin" required><br/>

  <label for="sstart">Date and start time:</label>
  <input type="datetime-local" id="sstart" name="sstart" required><br/>

  <label for="destination">Destination:</label>
  <input type="text" id="destination" name="destination" required><br/>

  <label for="ffinish">Finish time:</label>
  <input type="time" id="ffinish" name="ffinish"> or
  <button id="count"><i class="fas fa-hourglass-start i-btn"></i> Start Counter</button><br/><br/>

  <button id="add"><i class="fas fa-plus i-btn"></i> Add Walk</button> <span id="fill-required">Fill fields 'Origin', 'Date and start time' and 'Destination'.</span>
</form>
</div>
<br/><br/>

<% 
reversed = @walks_in_days.to_a.reverse.to_h

reversed.each_key do |key| 
  walks = reversed[key]
%>
  <h3><%= Time.at(walks.first.time_start).strftime(format_no_time) %></h3>
  <% walks.reverse_each do |walk| %>
    <div class="walk" data-start-timestamp="<%= walk.time_start %>" data-origin="<%= walk.origin %>"><%= walk.origin %> 
    <emph><%= Time.at(walk.time_start).strftime(format_only_time) %></emph> <i class="fas fa-arrow-right"></i> <%= walk.destination %> 
      <%if walk.finished?%>
      <emph><%= Time.at(walk.time_finish).strftime(format_only_time)%></emph> <i class="fas fa-equals"></i><i class="fas fa-stopwatch-20"></i> <%= walk.duration_str %> <i class="fas fa-location-arrow"></i> <strong><%= walk.distance_str %></strong> 
      <% end %>
    <% unless walk.finished? %>
      <span class="counter-stopper" data-walk-id="<%= walk.id %>" data-start-timestamp="<%= walk.time_start %>"><span>(time)</span><button>Stop</button></span>
    <% end %>
    <button><i class="fas fa-code-branch i-btn"></i> Continue walking</button>
    </div>
  <% end %>
<% end %>
</main>